<div class="chatWindow">
    <div class="header">
      <p>Interactive Q&A</p>
    </div>
    <div class="chat">
        @for(msg of messages; track msg.id){
            <p class="content-owner" [ngStyle]="{'align-self': (msg.src==botName) ? 'start' : 'end'}">
              <mat-icon [inline]="'true'">
                @if(msg.src==botName){
                  adb
                } @else {
                  person
                }
              </mat-icon>
              {{msg.src}}
            </p>
            <p [ngStyle]="{'align-self': (msg.src==botName) ? 'start' : 'end'}" class="message" [innerHTML]="msg.msg | linkify"></p>
        }
        @if(waiting){
          <p class="content-owner" [ngStyle]="{'align-self': 'start'}">
            <mat-icon [inline]="'true'">
              adb
            </mat-icon>
            {{botName}}
          </p>
          <p [ngStyle]="{'align-self': 'start'}" class="message">{{liveChat}}</p>
        }
    </div>
    <div class="input-container">
        <div class="highlight">
          <textarea placeholder="Type your message here" [formControl]="prompt"></textarea>
          <button class="send-button" (click)="send($event)" aria-label="Send message" [disabled]="waiting">
            <mat-icon [inline]="'true'" style="padding-top: 25%;">send</mat-icon>
          </button>
        </div>
      </div>
            
</div>